:root {
    --bcg-main: #d3d3d3;
    --glare: #ffffff;
    --shadow: #051c2c;
    --elements: #ed9b07;
}


/*
deep blue:
#051c2c
brown
#b95301
yellow
#fade9d
orange
#ed9b07
blue
#214a60 */

@font-face {
    font-family: "Sneakers";
    src: url(./assets/sneakers-font.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Sneakers', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: var(--bcg-main);

}

.wrapper {
    display: grid;
    width: auto;
    height: calc(100vh - 20px);
    margin: 5px;
    padding-right: calc(20px - (100vw - 100%));
    grid-template-columns: 10% 25% auto;
    grid-template-rows: 2em 4em auto 2em;
    grid-template-areas:
    "logo header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";

}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;

}
.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;

}
.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    padding: 5px 10px;

}

.nav_menu {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5px;
}
.nav_menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(145deg,  white, var(--elements) 50%, white) var(--x, 0)/ 200%;
    box-shadow: 3px 3px 5px var(--shadow),
            -3px -3px 5px var(--glare);
    font-family: "Sneakers";
    font-size: large;
    list-style: none;
    cursor: pointer;
    transition: 1s;
}

.nav_menu_item:hover {
    box-shadow: none;
}

.nav_menu_item:active {
    --x: 100%;
    box-shadow: inset 3px 3px 5px var(--shadow),
            inset -3px -3px 5px var(--glare);
}

.nav_menu_item:disabled,
.nav_menu_item:disabled:hover,
.nav_menu_item:disabled:active {
    box-shadow: none;
    background: linear-gradient(var(--bcg-main), var(--bcg-main));
    cursor: default;
}

.nav_menu_item_img {
    height: 40px;
}

#filters_menu_btn {
    opacity: 1;
}

#filters_menu_btn.hide {
    position: absolute;
    left: 1000px;
    opacity: 0;
}
/*
#search_friends.notclicked_yet {
    width: 100%;
}
 */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    grid-template-areas:
    "main_aside main_content";
}

.main.hide {
    display: none;
}

.main_aside {
    display: flex;
    flex-direction: column;
    grid-area: main_aside;
    width: 100%;
    margin: 5px;
    padding: 5px 10px;
    opacity: 1;
    transition: width linear 50ms, opacity linear .5s, left 50ms, position 50ms;
}

.main_aside.hide {
    opacity: 0;
    width: 0px;
    position: absolute;
    left: -1000px;
}
.main_aside h3,
.main_info h3,
.main_content h3 {
    align-self: center;
    margin: 0 0 1em 0;
}

.main_aside h3::after,
.main_info h3::after,
.main_content h3::after {
    content: '';
    display: block;
    height: 3px;
    background: var(--shadow);
}

.filter_group_name {
    align-self: center;
}

.filters_block {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}

.filter_inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter_input_img {
    height: 40px;
    padding: 5px;
}

.symbol {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.f_gender {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 2em;

}
.f_element {
    appearance: none;
}

.f_element_label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2em;
    margin: 5px;
    padding: 0 10px;
    border-radius: 5px;
    background: linear-gradient(145deg,  white, var(--elements) 50%, white) var(--x, 0)/ 200%;
    box-shadow: 3px 3px 5px var(--shadow),
            -3px -3px 5px var(--glare);
    transition: all linear .4s;
    cursor:pointer;
}

.f_element:checked + label {
    --x: 100%;
    box-shadow: inset 3px 3px 5px var(--shadow),
    inset -3px -3px 5px var(--glare);
    text-shadow: -1px -1px 3px var(--glare);
}

.f_element_label:hover {
    box-shadow: none;
}

input[name="age"] + label {
    font-size: 14px;
}

.disable_filter_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 50%;
    width: fit-content;
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: linear-gradient(145deg,  white, var(--elements) 50%, white) var(--x, 0)/ 200%;
    box-shadow: 3px 3px 5px var(--shadow),
            -3px -3px 5px var(--glare);
    font-family: "Sneakers";
    font-size: large;
    list-style: none;
    cursor: pointer;
    transition: .4s;
}

.disable_filter_btn:hover {
    box-shadow: none;
}

.disable_filter_btn:active {
    --x: 100%;
    box-shadow: inset 3px 3px 5px var(--shadow),
            inset -3px -3px 5px var(--glare);
}

.main_content {
    grid-area: main_content;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    opacity: 1;
    transition: all linear 1s;
}

.main_content.hide {
    opacity: 0;
}

.found_users {
    display: grid;
    justify-content: space-between;
    align-items: start;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    opacity: 1;
}

.user_card {
    display: grid;
    width: auto;
    grid-template-columns: auto 70%;
    grid-template-rows: 2fr 1fr auto;
    grid-template-areas:
    "avatar less_info"
    "avatar actions"
    "more_info more_info";
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--shadow),
    -3px -3px 5px var(--glare);
 /*    cursor: pointer; */
}
/*
.user_card:hover {
    box-shadow: 1px 1px 3px var(--shadow),
    -1px -1px 3px var(--glare);
}
 */

 .user_avatar {
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--shadow),
    -1px -1px 3px var(--glare);
    margin: 0 5px;
    grid-area: avatar;
}

.less_user_info {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 5px;
    grid-area: less_info;
}

.user_actions {
    grid-area: actions;
    width: calc(100% - 30px);
    display: flex;
    margin: 0 5px;
    flex-direction: row;
    justify-content: flex-end;

}

.user_actions_icon {
    height: 36px;
    border-radius: 10px;
    background: linear-gradient(145deg,  white, var(--elements) 50%, white) var(--x, 0)/ 200%;
    box-shadow: 3px 3px 3px var(--shadow),
    -3px -3px 3px var(--glare);
    margin: 0 5px;
    cursor: pointer;
    transition: .4s;

}

.user_actions_icon:hover {
    box-shadow: none;
}

.user_actions_icon.active {
    --x: 100%;
    box-shadow: inset 3px 3px 5px var(--shadow),
            inset -3px -3px 5px var(--glare);
}

.more_user_info.hide {
    display: none;
}

.more_user_info {
    width: calc(100% - 30px);
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px var(--shadow),
    inset -1px -1px 3px var(--glare);
    padding: 5px 10px;
    margin: 5px;
    grid-area: more_info;
}

.extra_field {
    font-size: smaller;
}


.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.main.main_filter_hidden {
    grid-template-columns: 100%;
    grid-template-areas:
    "main_content";
}

.main.main_filter_hidden > .main_content > .found_users{
    grid-template-columns: 1fr 1fr 1fr;
}

.lds-ripple {
    display: inline-block;
    position: fixed;
    left: 45vw;
    top: 45vh;
    width: 80px;
    height: 80px;
    z-index: 100;
  }
.lds-ripple::after {
    content: "loading";
    position: relative;
    top: 20px;
    left: 80px;
    font-size: 150%;
    color: var(--shadow);
}

.lds-ripple.hide{
    display: none;
}

  .lds-ripple div {
    position: absolute;
    border: 4px solid var(--shadow);
    opacity: 1;
    border-radius: 20%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
      border: 4px solid var(--elements);
    }
    50% {
      opacity: 1;
      border: 4px solid var(--elements);
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
